@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
img{
    /* width: 100%; */

}

body{
    color: rgb(255, 255, 255);
    background: black;
    /* background: radial-gradient(rgba(119, 119, 119, 0) 80%); */
}
.display-flex{
    display: flex;
}
.display-grid{
    display: grid;
}
.btn-primary{
    background: rgb(230, 83, 60);
    border-radius: 70px;
    border: none;
    color: white;
    font-size: 1.1rem;
    padding: 16px 50px;
    font-weight: 600;
}
.cards{
    position: absolute;
    width: 220px;
    height: 100px;
    /* left: 764px;
    top: 556px; */
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
}
/* ------------------------------Header------------------------------ */

header{
    position: relative;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1),rgba(119, 119, 119, 0.1) 1%);
    
}

.navbar{
    max-width: 1150px;
    margin: auto;
    padding: 50px 0px;
    align-items: center;
    justify-content: space-between;
}

nav h3{
    color: rgb(230, 83, 60);
    font-size: 2.3rem;
    font-weight: 900;
    font-style: italic;
}

.nav_links{
    width: 450px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2.5rem;
    padding: 13px 13px 13px 4px;
    justify-content: space-between;
}

.nav-items{
    list-style: none;
}

nav li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}

#anchor-home{
    background: rgb(230, 83, 60);
    border-radius: 50px;
    padding: 10px 24px;
    font-weight: 600;
}


/* BANNER STYLING*/
.banner{
    position: relative;
    max-width: 1150px;
    margin: auto;
}
.banner-content{
    width: 563px;
    margin-right: 150px;
}
.banner-title{
    font-size: 5.2rem;
    font-weight: 900;
    margin-bottom: 2rem;
    padding-top: 50px;
    line-height: 110%;
}
#title-font{
    font-family: 'Miama', sans-serif;
    font-style: italic;
    font-weight: 400;                                    
}
.banner-info{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    margin-bottom: 32px;
}
.btn-membership{
    margin-right: 25px;
}
.btn-download{
    background: none;
    border: 1px solid rgb(255, 255, 255);
}
/* .banner-cards{
    position: relative;
} */
.card-1{
    /* margin-top: -300px;
    margin-left: 350px; */
    /* left: 864px;
    top: 556px; */
    width: 215px;
    height: 105px;
    left: 940px;
    top: 110px;
    flex-direction: column;
    /* align-items: center; */
    justify-content: stretch;
    padding-left: 15px;
    padding-top: 10px;


}

#card1-info1{
    /* color: white; */
    font-size: 2.6rem;
    font-weight: 900;
    /* margin-top: 10px; */
}
#card1-info2{
    color: rgba(255, 255, 255, 0.5);
    /* padding-top: ; */
    font-size: 1.2rem;
    /* margin-bottom: 10px; */
}
.card-2{
    left: 590px;
    top: 420px;
    /* width: 220px;
    height: 100px */
    align-items: center;
    padding-left: 15px;
    
}
.card2-container1{
    background: rgb(230, 83, 60);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;

}
#card2-info1{
    font-size: 1.6rem;
    font-weight: 900;

}
#card2-info2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

/* ------------------------------MAIN------------------------------ */

main{
    /* background-color: black; */
    /* max-width: 1150px;
    margin: auto; */
    margin-top: 120px;
}

/* --------------------section-1---------------------- */

.container_habit{
    max-width: 1150px;
    margin: auto;
}
.container_1{
    max-width: 700px;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
}

#container_1-title{
    margin-bottom: 25px;
    font-size: 2.6rem;
    font-weight: 900;
}
#container_1-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

.container_2{
    justify-content:space-between;
    margin-bottom: 110px;
}
.card-habit{
    max-width: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container_2 .card-habit h3{
    margin-top: 30px;
    margin-bottom: 10px;
}
.container_2 .card-habit img{
    width: 80%;
    border-radius: 100%;
}
.container_2 .card-habit p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}

/* --------------------section-2(Running)---------------------- */
.container_running{
    /* position: relative; */
    max-width: 1150px;
    margin: auto;
    border-radius: 25px;
    background: rgb(34, 34, 34);
    padding: 65px 50px;
    justify-content: space-between;
}
.container-running-info{
    width: 460px;
}
.container-running-info h1{
    margin-bottom: 25px;
    font-size: 2.6rem;
    font-weight: 900;
}
.container-running-info p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 40px;
}
#btn-join{
    padding: 8px 30px;
}
.running-info-img img{
    width: 375px;
    height: 335px;
    object-fit: none;
    object-position: 68% 33%;

}

/* --------------------section-3(Calculator)---------------------- */
.calc-info{
    max-width: 750px;
    margin: 100px auto;
}

.calc-info h1{
    margin-bottom: 25px;
    font-size: 2.6rem;
    font-weight: 900;
}
.calc-info p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}

.calc-main{
    background: rgb(34, 34, 34);
    margin-bottom: 90px;
}
.container-calc-main{
    max-width: 1150px;
    margin: auto;
    justify-content: space-between;
}
.calc-chart{
    max-width: 370px;
}
.container-calc-main h1{
    margin-top: 45px;
    font-size: 2rem;
    font-weight: 900;
}
.calc-chart h1{
    margin-bottom: 63px;
}
.calc-bmi{
    max-width: 630px;
}
table, th, td {
    color: rgba(255, 255, 255, 0.5);
    border:1px solid rgba(255, 255, 255, 0.1);
    /* text-align: center; */

  }
  th , td{
    padding: 10px 15px;
  }

  td{
    width: 140px;
  }
.column-info{
    color: white;
    font-weight: 500;
}

.calc-bmi h1{
    margin-bottom: 20px;
}

.calc-bmi p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 42px;
}
.calc-bmi-input{
    background: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 25px;
} 
#item-value{
    grid-column: span 2;
}
input, select{
    border: none;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    padding: 16px 48px 16px 30px;
    font-size: 1.1rem;
}
::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
#btn-calc{
    margin-bottom: 60px;
}

/* --------------------section-4(Team)---------------------- */

.team-grettings h1{
    margin-bottom: 25px;
    font-size: 2.6rem;
    font-weight: 900;
}
.team-grettings p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

.container-team{
    max-width: 1150px;
    margin: auto;
    text-align: center;
}