@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.display-flex{
    display: flex;
}
/* ------------------------------Header------------------------------ */
body{
    color: white;
    /* background: rgb(17, 17, 17); */
}
header{
    /* opacity: 0.9; */
    /* background: rgba(17, 17, 17, 0.9); */
    /* background: linear-gradient(180.00deg,rgba(119, 119, 119, 0) 100%); */
    /* background: linear-gradient(180.00deg);
    background: rgba(119, 119, 119, 0); */
    background: linear-gradient(300.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 1000%);
    /* background-image: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);; */
}
.navbar{
    max-width: 1250px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

nav h3{
    color: rgb(230, 83, 60);
    font-size: 2.2rem;
    font-weight: 900;
    font-style: italic;
}
.nav_links{
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2.5rem;
    padding: 13px 13px 13px 4px;
    justify-content: space-between;
}
.nav-items{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}
#anchor-home{
    background: rgb(230, 83, 60);
    border-radius: 50px;
    padding: 10px 24px;
    font-weight: 600;
}


/* BANNER STYLING*/
.banner{
    max-width: 1250px;
    margin: auto;
}
.banner-content{
    width: 563px;
}
.banner-title{
    font-size: 5.2rem;
    font-weight: 900;
    margin-bottom: 2rem;
    line-height: 110%;
}
#title-font{
    font-family: 'Miama', sans-serif;
    font-style: italic;
    font-weight: 400;                                    
}
.banner-info{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}